<!DOCTYPE html>
<html>
{{> head }}


<style>
      h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display:inline-block;

  color:#FFFFFF;
  height:10%;
  width:100%;
}
     body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        background-color:#616161;
        color:#FFFFFF
     }
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
</style>

<body>
 {{> nav }}
<fieldset align="center">
    <h1>About Us</h1>
    <p > The DogWalker Webapp is designed and created by the following UCSB Students!</p>
<div class="row">
  <div class="column">
    <img src="https://media.licdn.com/dms/image/C5603AQGeuTNN1tJTAA/profile-displayphoto-shrink_100_100/0?e=1542240000&v=beta&t=9KF0lCpTETMo2c76TflZ8hixDyvOK5rSsqkMS0tzz74" alt="Tim Chang" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;" ><br />Name: Tim Chang <br /> Major : Computer Engineering <br /> Year : Junior <br /></p>
  </div>
  <div class="column">
    <img src="https://media.licdn.com/dms/image/C4E03AQE73Fw06BRwrQ/profile-displayphoto-shrink_800_800/0?e=1542240000&v=beta&t=dmlIYJsWcIjvKvdGRLU_UUSnpIoRW7q_hB_dUUukWME" alt="Soft Dude" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;" ><br />Name: Andrew Doan <br /> Major : Computer Engineering <br /> Year : Junior <br /></p>
  </div>
  <div class="column">
    <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/19989474_397673353962444_2547056923974906550_n.jpg?_nc_cat=0&oh=c3479538371ab4a5293bc256c6a9683f&oe=5C341B9E" alt="Cool Dude" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;"><br />Name: Connor Daly <br /> Major : Computer Science <br /> Year : Junior <br /></p>
  </div>
</div>

<div class = "row">
	<div class = "column"> 
    	<img src="https://media.licdn.com/dms/image/C5603AQGr-0_-pOYTDQ/profile-displayphoto-shrink_800_800/0?e=1542240000&v=beta&t=1eLU66XETbmNnWshn84zAD7iixIp8h18K6ASrTHKB3I" alt="JoeInglesLookin" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;"><br />Name: Adjon Tahiraj <br /> Major : Computer Engineering <br /> Year : Junior <br /></p>
    </div>
	<div class = "column">
		<img src="https://media.licdn.com/dms/image/C5603AQE8w8dxJlXb7g/profile-displayphoto-shrink_800_800/0?e=1542240000&v=beta&t=JcWGFPEYiuQ3-naV8qQIFS_Gj3UGNawicjGmCeYJOrY" alt="Bikaroo" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;"><br />Name: Bik Nandy <br /> Major : Computer Engineering <br /> Year : Junior <br /></p>
    </div>
    <div class = "column"> 
    	<img src="https://i.imgur.com/4tnsy37.jpg" alt="Tengyue Hu" width="200" height="200" align="middle" hspace="0" style="border:5px solid #8BC34A;"><br />Name: TengYue Hu <br /> Major : Computer Science <br /> Year : Junior <br /></p>
     </div>
    </div>
 {{> bootstrap-from-cdn-body }}
 </fieldset>
</body>
</html>
