<!DOCTYPE html>
<html>
{{> head }}


<style>
      h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display:inline-block;

  color:#FFFFFF;
  height:10%;
  width:100%;
} 
     body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        background-color:#616161;
        color:#212121
     }
</style>


<body>
 {{> nav }}
<fieldset align="center">
    <h1>About Us</h1>
 
 {{> bootstrap-from-cdn-body }}
 </fieldset>
</body>
</html>
