<!DOCTYPE html>
<html>
{{> head }}


<style>
     body {
        background-image: linear-gradient(to right,lightblue,white)
    }   
</style>


<body>
 {{> nav }}
 <h1>Welcome to Your Profile</h1>
 {{#profile}}
 <ul>"Profile:"
    <li>{{name}}</li>
    <li>{{dogType}}</li>
    <li>{{boyOrGirl}}</li>
    <li>{{description}}</li>
    <li>{{availability}}</li>
 </ul>
 {{/profile}}
 {{> bootstrap-from-cdn-body }}
</body>
</html>
