<!DOCTYPE html>
<html>
{{> head }}
{{> nav}}
{{> scriptsfromcdn}}

<style>
h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display:inline-block;
  color:#FFFFFF;
  height:10%;
  width:100%;
  }
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:#616161;
  color:#212121
  }
#texts {
  color:#FFFFFF
  }
#texts .inputfield{
  color:#000000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }
button{
  background-color:#8BC34A
  }

table.posts-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
table.posts-table td, table.posts-table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-color:#BDBDBD;
}
table.posts-table tr:nth-child(even){background-color: #FFFFFF;}
table.posts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8BC34A;
    color: white;
}
.trow{
background-color:#FFFFFF;
}
.sorter{
  padding-top:17px;

}
</style>

<body>

 <fieldset align="center">
    <h1>View your Profile</h1>
    <div id="texts">
      Name: <input class="inputfield" type="text" id="user"  value =""><br><br>
    
      Password: <input class="inputfield"  type="text" id="passcode" value =""><br><br>
      
      <button onclick="myFunction()">Submit</button>
      <button onclick="deletePosts()">Delete Posts</button>
      <button onclick="tclear()">Clear</button>
    </div>
    <div class="sorter">
    <div id="tableDiv" style="display:none;" class="table_list"> 
    <table class="posts-table" align="center">
      <thead>
      <tr><th>ID</th><th>Email</th><th>Name</th><th>Dog Type</th><th>Gender</th><th>Description</th><th>Availability</th></tr>
      </thead>
      <tbody class="put-posts-here">
      </tbody>
      </table>
    </div>
      </div>
    </fieldset>

<script>
var avail = [""];
function deletePosts(data){
  var x = document.getElementById("user").value;
  var y = document.getElementById("passcode").value;
    $(document).ready(function() {
    $.ajax({
      url: "/api/posts"
      }).then(function(data) {
        console.log("I got the data: " + JSON.stringify(data));
        $.each(data,function(i,post) {
          if((post.name == x) && (post.password == y)) {
		console.log("Data to delete: " + JSON.stringify(post));
               $.ajax({
                                url: '/api/posts/' + post.id,
                                type: 'DELETE',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                        })

          }
            });
      location.reload();
            });
            });

}

function myFunction() {
  var x = document.getElementById("user").value;
  var y = document.getElementById("passcode").value;
  $(document).ready(function() {
    $.ajax({
      url: "/api/posts"
      }).then(function(data) {
        console.log("I got the data: " + JSON.stringify(data));
        $.each(data,function(i,post) {
          
          if((post.name == x) && (post.password == y) && (avail.includes(post.id)==false)) {
            $('.put-posts-here').empty();
	    avail.push(post.id)
            var row = $("<tr></tr>");
            row.append($('<td class="trow"></td>').text(post.id));
            row.append($('<td class="trow"></td>').text(post.email));
            row.append($('<td class="trow"></td>').text(post.name));
            row.append($('<td class="trow"></td>').text(post.dogType));
            row.append($('<td class="trow"></td>').text(post.boyOrGirl));
            row.append($('<td class="trow"></td>').text(post.description));
            row.append($('<td class="trow"></td>').text(post.availability));
            $('.put-posts-here').append(row);
          }
            });
            });
            });
  document.getElementById('tableDiv').style.display = "block";
}

function tclear(){
	$(document).ready(function(){
	console.log("something is happening!!!");
	location.reload(true);
});
}
</script>
</body>
</html>
