<!DOCTYPE html>
<html>
{{> head }}

<style>
     h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display:inline-block;
  color:#FFFFFF;
  height:10%;
  width:100%;
} 
     body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        background-color:#616161;
        color:#212121
     }
      .inputfield{
       color:#FFFFFF;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     }
     button{
       background-color:#8BC34A
     }
</style>

<body>
 {{> nav }}
 <!--<h1>Hello {{name}}</h1>-->

 <fieldset align="center">
    <h1>View your Profile</h1>
    <div class="inputfield">
    Username:
    <input type="text" name="username"><br><br>
    Password:
    <input type="text" name="password"><br><br>
    
    <button type="submit">Submit</button>
</div>
 </fieldset>

 {{> bootstrap-from-cdn-body }}
 
</body>
</html>
