<!DOCTYPE html>
<html>
{{> head }}

<style>
      h1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display:inline-block;

  color:#FFFFFF;
  height:10%;
  width:100%;
} 
     body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        background-color:#616161;
        color:#212121
     }
#texts {
     color:#FFFFFF
     }
      #texts .inputfield{
       color:#000000;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     }
     .submit_add_post{
       background-color:#8BC34A
     }








</style>

<body>
 {{> nav }}

<fieldset align="center">

  <h1>Make a Post</h1><br>
<div class="alert-area"></div>  
  <div id="texts">
<form name="add-post-single-category" id="add-post-single-category"> 
 <label for="name">
   Name:</label>
  <input type="text" class="inputfield" name="name">
  <label for="email">E-mail:</label>
  <input type="text" class="inputfield" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="text" class="inputfield" name="password">
  <label for="dogType">Dog Type:</label>
  <input type="text" class="inputfield" name="dogType"><br><br>
  <label for="boyOrGirl">Dog Gender:</label>
  <input type="text" class="inputfield" name="boyOrGirl"
  <label for="description">Description:</label>
  <input type="text" class="inputfield" name="description"><br><br>
  <label for="availability">Availability:</label>
  <input type="text" class="inputfield" name="availability">

  <input type="button" name="submit" class="submit_add_post" id="submit_btn" value="Add Post" />
  
</div>
</form>

</fieldset>
{{> scriptsfromcdn }}


 {{> site-specific-javascript-add }}

 {{> bootstrap-from-cdn-body }}
</body>
</html>
