<!DOCTYPE html>
<html>
{{> head }}

<style>
     body {
        background-image: linear-gradient(to right,lightblue,white)
    }
</style>

<body>
 {{> nav }}

<form action="/add/student" method="post">
  <!--
  First name:<br>
  <input type="text" name="firstname" value="Chris">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Gaucho">
  <br><br>
  Last name:<br>
  <input type="text" name="perm" value="1234567">
  <br><br>
  <input type="submit" value="Submit">
  -->

<fieldset align="center">

  <h2>Sign Up</h2><br>
  <form align="left">
  &nbsp&nbspFirst name:
  <input type="text" name="firstname">
  &nbsp&nbsp&nbspLast name:
  <input type="text" name="lastname"><br><br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspE-mail:
  <input type="text" name="firstname">
  &nbsp&nbsp&nbsp&nbspPassword:
  <input type="text" name="lastname"><br>
  <br>
  &nbsp&nbsp&nbspDog Type:
  <input type="text" name="firstname">
  Dog Gender:
  <input type="text" name="lastname"><br>
  <br>
  Description:
  <input type="text" name="firstname">
  &nbsp&nbspAvailability:
  <input type="text" name="lastname"><br><br>

  <input type="submit" name="submit">

</form>

</fieldset>
</form> 


 {{> bootstrap-from-cdn-body }}
</body>
</html>